// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0.3em 5%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0.3em;
  margin: 0;
  z-index: 1;
  color: #2c3e50;
  font-size: 2.7em;
  font-weight: normal;
  width: 20%;
  text-align: center;
}

footer {
  position: absolute;
  padding: 0.2em;
  font-size: 11px;
  background-color: rgba(255,255,255,0.7);
  margin: 0;
  z-index: 1;
  color: #2c3e50;
  bottom: 0;
}

.leaflet-control-attribution {
  color: #2c3e50;

  a {
    color: #2980b9 !important;
  }
}

.myMarker {
  background: #f39c12;
  border: 5px solid rgba(255,255,255,0.5);
  color: #ecf0f1;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;

  &.animate {
    background: #8e44ad;
    @include animation(appear 2s);
  }
}


@include keyframes(appear) {
  from {
    background: lighten(#8e44ad, 30%);
  }
  to {
    background: #8e44ad;
  }
}